 <p>
 	<strong>Title:</strong>
 	<%= @article.title %>
 </p>
 
 <p>
 	<strong>Text:</strong>
 	<%= @article.text %>
 </p>
 
 <h2>Comments</h2>
 <%= render @article.comments %>
 
 <H2>Add a comment:</H2>
 <%= render 'comments/form' %>
 
 <%= link_to 'Article List', articles_path %>